<main #chat>
    <ul>
        <li *ngFor="let message of messages">
            <span class="time">[{{message.time.toLocaleTimeString()}}]</span>
            <span *ngIf="message.user === 'notification'" class="notification">{{message.text}}</span>
            <span *ngIf="message.user !== 'notification'">
                <span class="user">{{message.user}}:</span>
                <span class="text">{{message.text}}</span>
            </span>
        </li>
    </ul>
</main>
<aside>
    <ul>
        <li *ngFor="let group of groups">
            <a (click)="joinGroup($event, group)" href="#">{{group}}</a>
        </li>
    </ul>
</aside>
<div>
    <input id="message" type="text" [(ngModel)]="text" />
    <button (click)="send()">Send</button>
</div>