:host {
  display: grid;
  grid-template:
    "groups"
    "msgs" 1fr
    "input";

  > * {
    padding-top: 0.35em;
    padding-bottom: 0.35em;
    margin: 0;
    border: 1px solid black;
  }
}

main {
  grid-area: msgs;
  flex: 1;
  overflow-y: auto;
  overflow-wrap: break-word;

  li :not(:first-child) {
    margin-left: 1ch;
  }
}

.notification {
  font-style: italic;
}

.user {
  font-weight: bolder;
}

ul {
  list-style-type: none;
  padding: 0;
}

div {
  grid-area: input;
  display: flex;

  input {
    flex-grow: 1;
  }
}

aside {
  grid-area: groups;
  overflow-x: auto;

  ul {
    display: flex;

    li {
      min-width: fit-content;
    }

    > :not(:first-child) {
      margin-left: 0.75em;
    }

    @media (min-width: 768px) {
    }
  }
}

@media (min-width: 768px) {
  :host {
    grid-template:
      "msgs groups" 1fr
      "input input"
      / 1fr minmax(10rem, max-content);
  }

  aside {
    overflow: hidden auto;

    ul {
      flex-direction: column;

      > *:not(:first-child) {
        margin: 0;
      }
    }
  }
}
