@import "../../bulma-shared.scss";
@import "../../../node_modules/bulma/sass/utilities/controls.sass";
@import "../../../node_modules/bulma/sass/components/tabs.sass";
@import "../../../node_modules/bulma/sass/elements/button.sass";
@import "../../../node_modules/bulma/sass/form/shared.sass";
@import "../../../node_modules/bulma/sass/form/tools.sass";
@import "../../../node_modules/bulma/sass/form/input-textarea.sass";

:host {
  display: flex;
  flex-direction: column;
}
main {
  grid-area: msgs;
  flex: 1;
  overflow-y: auto;
  overflow-wrap: break-word;

  li :not(:first-child) {
    margin-left: 1ch;
  }
}

// .notification {
//   font-style: italic;
// }

.user {
  font-weight: bolder;
}

// ul {
//   list-style-type: none;
//   padding: 0;
// }

// div {
//   grid-area: input;
//   display: flex;

//   input {
//     flex-grow: 1;
//   }
// }
