ul {
  display: flex;
  list-style-type: none;
  padding-left: 0;
}

li {
  text-transform: capitalize;
  margin-left: 1em;
}

a {
  display: block;
  color: black;
  text-decoration: none;
  padding: 0.5em 0.75em;
  min-width: 10ch;
  text-align: center;
  border: 1px solid black;
  transition: background-color 200ms, color 200ms;

  &.active {
    background-color: blueviolet;
    color: white;
  }

  &:hover {
    background-color: blue;
    color: white;
  }
}
