<header>
    <h1 class="title">Welcome!</h1>
</header>
<main>
    <p>This is an example app, which using:</p>
    <ul>
        <li><a href="https://docs.microsoft.com/en-us/ASPNET/Core/?view=aspnetcore-3.0">ASP.NET Core 3.0</a> as a
            backend</li>
        <li><a href="https://v8.angular.io">Angular 8</a> as a frontend</li>
        <li><a href="https://docs.microsoft.com/aspnet/core/signalr/?view=aspnetcore-3.0">SignalR</a> library for
            communication between frontend and backend</li>
    </ul>
</main>